In [24]:
import pandas as pd
import numpy as np

In [25]:
data = {
    'Name': ['Amit', 'Priya', 'Rahul', 'Sneha', None],
    'Age': [25, 30, np.nan, 22, 28],
    'City': ['Delhi', None, 'Mumbai', 'Pune', 'Bangalore']
}

In [26]:
df=pd.DataFrame(data)

In [27]:
print(df)

    Name   Age       City
0   Amit  25.0      Delhi
1  Priya  30.0       None
2  Rahul   NaN     Mumbai
3  Sneha  22.0       Pune
4   None  28.0  Bangalore

isnull() method is used to check missing value in column

In [28]:
print(df.isnull())

    Name    Age   City
0  False  False  False
1  False  False   True
2  False   True  False
3  False  False  False
4   True  False  False

In [29]:
print(df.isnull().sum())  #it displays total number of missing value columnwise

Name    1
Age     1
City    1
dtype: int64