In [23]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'Name': ['Amit', 'Priya', 'Rahul', 'Sneha', None],
    'Age': [25, 30, np.nan, 22, 28],
    'City': ['Delhi', None, 'Mumbai', 'Pune', 'Bangalore']
}

In [ ]:
df=pd.DataFrame(data)
print(df)

    Name   Age       City
0   Amit  25.0      Delhi
1  Priya  30.0       None
2  Rahul   NaN     Mumbai
3  Sneha  22.0       Pune
4   None  28.0  Bangalore

To delete coloumn or row containing null values we dropnan(axis=0/1,inpalce=True/False)
Yeh tab use karne ka jab hume us row ya column ki zarurat nahi hain jo missing value store karta hain

In [ ]:
df.dropna(axis=0,inplace=True)
print(df)

In [ ]:
df.dropna(axis=1,inplace=True)
print(df)

Replacing Missing value with some other value 
for that we have fillna(value,inplace)

In [ ]:
df.fillna(0,inplace=True)
print(df)    #upar wale  code ko comment kar dena taki missing value remove na ho warna iska output nhi aayega

    Name   Age       City
0   Amit  25.0      Delhi
1  Priya  30.0          0
2  Rahul   0.0     Mumbai
3  Sneha  22.0       Pune
4      0  28.0  Bangalore

In [ ]:
df["Age"].fillna(df["Age"].mean(),inplace=True) # yeah age column ka mean value niklega aur usse missing value ke saath fill kar dega